@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
	font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Poppins", sans-serif;
}

@layer components {
	html {
		@apply bg-gray-100;
	}

	.limit-width {
		max-width: 1536px;
	}

	.scroll-y-style::-webkit-scrollbar {
		height: 100%;
		width: 4px;
		background: #0001;
		@apply rounded-full;
	}

	.scroll-y-style::-webkit-scrollbar-thumb {
		background: #0002;
		-webkit-border-radius: 1ex;
		@apply rounded-full;
	}

	.scroll-x-style::-webkit-scrollbar {
		height: 2px;
		width: 100%;
		background: #0001;
		@apply rounded-full;
	}

	.scroll-x-style::-webkit-scrollbar-thumb {
		background: #0004;
		-webkit-border-radius: 1ex;
		@apply rounded-full;
	}
}
